.profileSection{
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  flex-wrap: wrap;
  border: 3px solid #f7b80599;
  border-style: inset outset outset inset;
  margin: 40px;
  padding: 30px;
  width: 60%;
  align-items: center;
}

.sideform{
  margin-top: 60px;
  width: 50%;
  text-transform: capitalize;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    font-family: 'Vollkorn', cursive;
    opacity: 1; /* Firefox */
}

.profilePicture{
  display: inline-flex;
  position: relative;
  flex-flow: column;
  margin-bottom: 35px;
  border-right: 2px solid #8b6516;
  border-right-style: ridge;
  border-bottom-right-radius: 10px;
  width: 35%;
}
.profilePicture img{
  margin: 0px 20px 20px 0px;
  /* float: left; */
  width: 230px;
  height: 250px;
  border: 2px solid #d4a00b;
  border-radius: 25%;
  background: #d2994f;
}
.profilePicture span{
  font-family: 'Vollkorn', cursive;
  font-weight: 700;
  color: black;
  margin: 0px 55px -13px 0px;
}
.profilePicture input{
  background: transparent;
  border: none;
  border-bottom: 2px solid #8b6516;
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-radius: 5px;
  transition: border-color .5s ease-in-out;
}

.profilePicture input:focus{
  background: transparent;
  font-weight: 700;
  letter-spacing: 1.5px;
  box-shadow: none;
  border-color: #d9a010;
  outline: 0;
}

.form-group{
  display: flex;
}
.form-group label{
  display: inline-flex;
  margin-top: 20px;
  position: absolute;
  font-family: 'Acme';
  font-weight: 800;
  text-transform: uppercase;
}

.form-group input{
  background: transparent;
  border: none;
  border-bottom: 2px solid #8b6516;
  display: flex;
  width: 100%;
  padding: 20px 10px 20px 100px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  color: black;
  border-radius: 5px;
  transition: border-color .5s ease-in-out;
}

.form-group input:focus{
  background: transparent;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-left: 100px;
  box-shadow: none;
  border-color: #d9a010;
  outline: 0;
}

.formbutton{
  width: 30%;
  float: right;
  margin-top: 30px;
}

.formbutton input[type="submit"],
.formbutton input[type="submit"]:active,
.formbutton input[type="submit"]:focus
{
  border: none;
  outline: none;
  color: #000;
  font-family: 'Vollkorn', cursive;
  font-weight: 700;
  background: #96732be8;
  padding: 14px 30px;
  cursor: pointer;
  border-radius: 24px;
  display: block;
  /* margin: 40px 0; */
  text-align: center;
  outline: none;
  transition: 0.3s linear;
}

.formbutton input:hover{
  background: #d0951dc9;
  padding: 14px 30px;
  color: #000;
}
